<div class="page-header">
  <h3>Hack Scheduler</h3>
</div>

<div id="calendar"></div>

<script type="text/javascript">
  "use strict";

  $(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
      header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

			defaultView: 'month',

      events: gon.events,

      dayClick: function(date, jsEvent, view) {
        window.location.href = './events/new'
      }
        // put your options and callbacks here
    })
  });
</script>